USE [master]
GO
/****** Object:  Database [QLDPKS_DACS]    Script Date: 6/1/2022 9:10:03 AM ******/
CREATE DATABASE [QLDPKS_DACS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLDPKS_DACS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLDPKS_DACS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLDPKS_DACS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLDPKS_DACS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLDPKS_DACS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLDPKS_DACS]
GO
/****** Object:  Table [dbo].[KH]    Script Date: 6/1/2022 9:10:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KH](
	[userkh] [varchar](30) NOT NULL,
	[password] [varchar](30) NOT NULL,
	[tenKH] [nvarchar](50) NULL,
	[gioitinh] [nvarchar](50) NULL,
	[sdt] [char](10) NULL,
	[soCMND] [char](12) NULL,
	[email] [varchar](50) NULL,
	[tuoi] [int] NULL,
 CONSTRAINT [PK_KH] PRIMARY KEY CLUSTERED 
(
	[userkh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieudatphong]    Script Date: 6/1/2022 9:10:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieudatphong](
	[id_phieudk] [int] IDENTITY(1,1) NOT NULL,
	[userkh] [varchar](30) NULL,
	[ngaythue] [date] NULL,
	[soNgaythue] [int] NULL,
	[maphong] [varchar](5) NULL,
	[tinhtrang] [nvarchar](30) NULL,
 CONSTRAINT [PK_PDP] PRIMARY KEY CLUSTERED 
(
	[id_phieudk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 6/1/2022 9:10:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[maphong] [varchar](5) NOT NULL,
	[loai_phong] [nvarchar](50) NULL,
	[giaphong] [decimal](18, 0) NULL,
	[trangthai] [nvarchar](50) NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[maphong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user1]    Script Date: 6/1/2022 9:10:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user1](
	[usermn] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[ten_nhanvien] [nvarchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[usermn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[phieudatphong]  WITH CHECK ADD  CONSTRAINT [FK_PDPmaphong] FOREIGN KEY([maphong])
REFERENCES [dbo].[Phong] ([maphong])
GO
ALTER TABLE [dbo].[phieudatphong] CHECK CONSTRAINT [FK_PDPmaphong]
GO
ALTER TABLE [dbo].[phieudatphong]  WITH CHECK ADD  CONSTRAINT [FK_PDPuserkh] FOREIGN KEY([userkh])
REFERENCES [dbo].[KH] ([userkh])
GO
ALTER TABLE [dbo].[phieudatphong] CHECK CONSTRAINT [FK_PDPuserkh]
GO
USE [master]
GO
